doctype 5
html(lang="en")
  head
    title=title

    meta(name="gtv-autozoom", content="off")
    meta(name="description", content="Clip the TV allows users to share their favorite video clips using their mobile and desktop browser. ")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='/css/twitter/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://bootswatch.com/cyborg/bootstrap.min.css')
    link(rel='stylesheet', href='/css/twitter/bootstrap-responsive.min.css')
    //jQuery UI
    link(rel="stylesheet", href="/js/plugins/jquery-ui/css/smoothness/jquery-ui-1.8.10.custom.css")
    //Slider CSS
    link(rel="stylesheet", href="/css/jQRangeSlider/classic.css")
    //link(rel="stylesheet", href="/css/jQRangeSlider/iThing.css")

    script(type="text/javascript", charset="utf-8", src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js")
    //jQuery UI 
    script(type="text/javascript", charset="utf-8", src="/js/plugins/jquery-ui/js/jquery-ui-1.8.16.custom.min.js")
    
    script(type="text/javascript", charset="utf-8", src="/js/plugins/twitter/bootstrap.min.js")
    script(type="text/javascript", src='/socket.io/socket.io.js')
    script(type="text/javascript", src='/js/plugins/jquery.jqia.dateFormat.js')
    script(type="text/javascript", charset="utf-8")
      $(document).ready(function(){
        $.getScript("/js/global.js");
      });

    block javascripts

  body
    .container
      .masthead
        ul.nav.nav-pills.pull-left
          li: a(href="http://screenscollide.com", target="_new") ScreensCollide.com
          li: a(href='/') Home
          li: a(href='/tv') Watch
      a(href="https://github.com/screenscollide/clipthetv", target="_new")
        img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

      block content

      footer
        p &copy; <span></span>
          &nbsp;
          a(href="//twitter.com/screenscollide", target="_new") @screenscollide
          &nbsp;&nbsp;
          a(href="//twitter.com/chrisaiv", target="_new") @chrisaiv

      //Google Analytics
      include analytics
